<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
CAR LIST:

<div th:each="car:${auto}">
    <a th:href="@{/cars/{id}(id=${car.getId()})}" th:text="${car.getManufacturer()}+${car.getModel()}" >cars</a>
    <br>
    <p th:text="${car.getId()}">value</p>
    <p th:text="${car.getManufacturer()}">value</p>
    <p th:text="${car.getModel()}">value</p>
    <p th:text="${car.getYears()}">value</p>
    <br>
</div>
</body>
</html>